[server]
# username for running the daemon
username = reddcoin
# hostname. set it to a FQDN in order to be reached from outside
# e.g. reddwallet.org
host =
# ports
electrum_rpc_port = 8000
stratum_tcp_port = 50001
stratum_tcp_ssl_port = 50002
report_host = reddwallet.org
report_stratum_tcp_port = 50001
report_stratum_tcp_ssl_port = 50002
password =
banner = Welcome to Electrum!
banner_file = /etc/electrum.banner
irc = yes
# use your hostname above with . replaced by _
#  e.g. reddwallet_org
irc_nick =
ssl_certfile = /home/reddcoin/electrum-server.crt
ssl_keyfile = /home/reddcoin/electrum-server.key
logfile = /var/log/electrum.log
donation_address =

[leveldb]
# path to your database
path = /var/electrum-server
# for each address, history will be pruned if it is longer than this limit
pruning_limit = 100

[reddcoind]
host = 127.0.0.1
port = 8332
# user and password from reddcoin.conf
user =
password =
